﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link rel="stylesheet" href="~/css/materialize.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin=""/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper #f1f8e9 light-green lighten-5">
              <a href="#!" class="brand-logo lime-text">Logo</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons lime-text">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <!--<li><a class="nav-link text-darken-3 lime-text hoverable" asp-area="" asp-controller="Tallinn" asp-action="Index">HOME</a></li>
                  <li><a class="nav-link text-darken-3 lime-text hoverable " asp-area="" asp-controller="Tallinn" asp-action="Privacy">PRIVACY</a></li>-->
                <li><a class="nav-link text-darken-3 lime-text hoverable " asp-area="" asp-controller="Tallinn" asp-action="Bus">BUSS</a></li>
                <li><a class="nav-link text-darken-3 lime-text hoverable " asp-area="" asp-controller="Tallinn" asp-action="Tram">TRAMM</a></li>
                <li><a class="nav-link text-darken-3 lime-text hoverable " asp-area="" asp-controller="Tallinn" asp-action="TrolleyBus">TROLL</a></li>
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo #9e9d24 lime darken-3">
            <li><a class="nav-link text-dark lime-text text-capitalize" asp-area="" asp-controller="Tallinn" asp-action="Index">Home</a></li>
            <li><a class="nav-link text-dark lime-text text-capitalize" asp-area="" asp-controller="Tallinn" asp-action="Privacy">Privacy</a></li>
          </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebApp - <a asp-area="" asp-controller="Tallinn" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/js/materialize.js" asp-append-version="true"></script>
    <script src="~/js/materialize.min.js" asp-append-version="true"></script>
    <script src="~/lib/leaflet/leaflet.js" asp-append-version="true"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
