﻿@model WebApp.ViewModels.TransportationLocationViewModel

@{
    ViewData["Title"] = "Bus Page";
}
<br/>
<br/>
<div class="row">
    <form asp-controller="Tallinn" asp-action="TrolleyBus" class="col s5" method="get">
        <div class="row valign-wrapper">
            <div class="input-field col s12">
                <i class="material-icons prefix">directions_bus</i>
                <textarea id="transportation_number" class="materialize-textarea" name="id" value="@Model.ServiceNumber"></textarea>
                <label for="transportation_number">Transpordi liininumber</label>
            </div>
            <button class="btn-floating pulse waves-effect waves-light #f1f8e9 light-green" 
                    type="submit">Otsi
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s6">
        @if (Model.TransportationList != null)
        {
            <p>LK-laiuskraad PK-pikkuskraad</p>
            @foreach (var transport in Model.TransportationList)
            {
                <!--<a class="waves-effect waves-light" href="https://www.google.com/maps/search/?api=1&query=@Html.DisplayFor(elem => transport.Coordinate.Longitude),@Html.DisplayFor(elem => transport.Coordinate.Latitude)">-->
                <a class="btn col s12 waves-effect waves-light #f1f8e9 light-green lighten-3 z-depth-1 hoverable" href="https://www.google.com/maps/search/?api=1&query=@Html.DisplayFor(elem => transport.Coordinate.Latitude),@Html.DisplayFor(elem => transport.Coordinate.Longitude)">
                    <div class="row">
                        <i class="col s1 material-icons">directions_bus</i>
                        <div class="col s2">
                            @Html.DisplayFor(elem => transport.Number)
                        </div>
                        <div class="col s4">
                            LK: @Html.DisplayFor(elem => transport.Coordinate.Latitude)
                        </div>
                        <div class="col s5">
                            PK: @Html.DisplayFor(elem => transport.Coordinate.Longitude)
                        </div>
                    </div>
                </a>
                <!--</a>-->
            }
        }
    </div>
    <div class="col s6">
        
    </div>
</div>

<br/>
<br/>
<label>Tallinn Transportation:</label>  @ViewBag.AllTransportation